.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.separator {
  padding: 20px;
  font-size: medium;
  font-weight: bold;
}
